div{
		
			margin-top: 25px;
			text-align: center;
	
					
		}
		div.content
		{		
			background: gray;
			column-count: 3;
  			column-gap: 40px;
  			column-rule: 1px solid red;
		}
		h2 {
 		column-span: all; 
		}
		p{

			font-size: 20px;
		}

		div.mycontainer div {
  			width:33%;  
  			float:left;
  			margin-left:5px;
					}
		footer{
			padding: 25px;
			margin-top: 20px;
			background: red;
			color: red;

		}
		footer1
		{
			background: black;
			background-color: black;
		}
		